a.nav-link {
    color: white;
}

#btn-search {
    border: 1px solid black;
    margin-right: 500px;
    border-radius: 50px;
}

#btn-search:hover {
    background-color: white;
    border-radius: 50px;
}

img {
    padding-right: 460px;
    max-width: 700px;
    margin-left: 100px;
}

.content-divider {
    background-color: #4A633C;
    width: 100%;
    height: 40px;
}