

a.nav-link {
    color: white;
}

#btn-search {
    border: 1px solid black;
    margin-right: 500px;
    border-radius: 50px;
}

#btn-search:hover {
    background-color: white;
    border-radius: 50px;
}

img {
    max-width: 300px;
    min-width: 300px;
    margin-left: 230px;
}

.content-divider {
    background-color: #577343;
    width: 100%;
    height: 40px;
}

#imgs-slideshow {
    margin-top: 40px;
    max-width: 1400px;
    max-height: 450px;
    min-height: 450px;
    border: 2px solid #577343;
}

#next-slide {
    color: black;
}

div.carousel-inner, body {
    background-color: lightgray;
}